/**
 * Level2 grey: #4B4949
 * syn2cat blue: #00AED2
 */

* {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
html,
body {
  background:  no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.well {
  padding: 0.7rem;
  border: none;
  background: rgba( 255, 255, 255, 0.7 );
}
.footer {
  margin: 1rem 0;
  color: #fff;
  background-color: #4B4949;
  background: rgba( 75, 73, 73, 0.8 );
  border-radius: 0.4rem;
  padding: 0.5rem;
}
.container a {
  color: #00AED2; //rgba(127, 213, 225, 1);
}
.container a:hover {
  color: #F56533;
  text-decoration: none;
}

/**
 * START - NAVBAR
 */

@media (min-width: 768px) {
  .navbar {
    padding-top: 11.3rem;
    margin-top: -10rem;
    padding-left: 10rem;
    margin-left: -10.5rem;
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
    background: rgba( 255, 255, 255, 0.7 );
    border: none;
  }
  .navbar-nav>li>a {
    border-radius: 0.4rem 0.4rem 0px 0px;
  }
  .event .meta .img {
    text-align: center;
  }
  .event p {
    margin-top: -0.5rem;
  }
}

@media (max-width: 767px) {
  .well {
    border-radius: 0;
  }
}

img {
  max-width: 100%;
  border-radius: 0.4rem;
}

.event img {
  max-height: 150px;
}

@media (max-width: 992px) {
  .event img {
    max-height: 100px;
  }
}

.navbar-nav>li.status-open a, .navbar-nav>li.status-open a:hover {
  color: #fff;
  background-color: #67C13C;
}
.navbar-nav>li.status-closed a, .navbar-nav>li.status-closed a:hover {
  color: #fff;
  background-color: #F56533;
}
/**
 * END - NAVBAR
 */

h2, h3, h4 {
  text-shadow: 1px 0px 6px rgba( 255, 255, 255, 0.7 );
  margin: 0;
}

p {
  margin: 0;
}
.event h2 {
  font-size: 2rem;
}
.event h4 {
  color: #777;
}
.event p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.event .meta {
  padding-top: 10px;
}

.description h4 {
  margin-top: -0.5rem;
}
.well.map {
  padding: 0;
}
.google-map {
  width: 100%;
  border-radius: 0;
}
.google-map-container {
  width: 100%;
}
h2.well {
  padding: auto 5rem;
  background: rgba( 51, 51, 51, 0.7 );
  background: rgba( 0, 174, 201, 0.7 );
  margin-bottom: 0;
  border-radius: 0.4rem 0.4rem 0 0;
  color: #ffffff;
  text-shadow: none;
}
.well.info {
  border-radius: 0 0 0.4rem 0.4rem;
}
.no-top-radius {
  border-radius: 0 0 0.4rem 0.4rem ;
}

section:hover h2.well {
  background: rgba( 51, 51, 51, 0.8 );
  background: rgba( 0, 174, 201, 0.8 );
}

section:hover .well {
  background: rgba( 255, 255, 255, 0.8 );
}
.sponsors img {
  max-width: 49%;
  border-radius: 0;
  margin: 5px auto;
}
.no-bottom-margin {
  margin-bottom: 0;
}
.no-bottom-rounded {
  border-radius: 0;
}
.no-padding {
  padding: 0;
}
.row {
  margin: auto 0;
}
.next-event {
  margin-bottom: 20px;
}
.next-event .event {
  border-radius: 0 0 0.4rem 0.4rem;
}
