{% extends "base.twig" %}

{% block container %}

<div class="row">

  <div class="col-sm-3 hidden-xs">

    <h2>Events</h2>

  </div>

  <div class="col-sm-9">

    {% for event in events %}

      {% embed "event.twig" %}
      {% endembed %}

    {% endfor %}

  </div>

</div>

{% endblock %}
