{% block event %}

  <div class="event well no-top-radius">

    <div class="meta hidden-xs">

      {% embed "event-meta.twig" %}
      {% endembed %}

    </div>
    <div class="description">

      {% embed "event-info.twig" %}
      {% endembed %}

    </div>

  </div>

{% endblock %}
