{% extends "base.twig" %}

{% block title %} &middot; Events{% endblock title %}

{% block container %}

<div class="row">

  <div class="col-md-3 hidden-xs">

    <section>

      <h1 class="well">Host an event</h1>
      <p class="well info">
        We host a few recurring events at Level2. But you're welcome to use our Hackerspace to host yours too.<br />
        <a href="mailto:events@level2.lu">Get in touch</a>
      </p>

    </section>

    <section class="hidden-sm">

      <h2 class="well">Export</h2>
      <div class="well info">
        <h1>
          <a href="/events/ical"><span class="label label-info">iCal</span></a>
          <a href="/events/json"><span class="label label-info">JSON</span></a>
        </h1>
      </div>

    </section>

  </div>

  <div class="col-md-9">

    {% for event in events %}

      {% embed "event.twig" %}
      {% endembed %}

    {% endfor %}

  </div>

</div>

{% endblock %}
