{% extends "base.twig" %}

{% block container %}

<div class="row">

  <div class="col-md-4">

    <section class="visible-xs">

      {% if level2.open %}
        <a href="/openingTimes"><div class="well status status-open">We're OPEN since {{ level2.lastchange|date("G:i") }}<br />{{ level2.people }} hacker{% if level2.people > 1 %}s{% endif %} present</div></a>
      {% else %}
        <a href="/openingTimes"><div class="well status status-closed">Sorry, we're Closed</div></a>
      {% endif %}

    </section>

    <section class="hidden-xs">

      <h2 class="well">#openMonday</h2>
      <p class="well info">
        Our Hackerspace is open <strong>every Monday</strong> evening from <strong>8pm</strong>, where members and non-members hang out, hack on projects, socialize, and collaborate. <a target="_blank" href="https://wiki.hackerspace.lu/wiki/Openmonday">Read More</a>
      </p>

    </section>

    <section>

      <h2 class="well">Location</h2>

      <p class="well no-bottom-margin no-bottom-rounded">
        Level2 is located in Bonnevoie, very close to Luxembourg city. We hold <a href="/events">events</a> which are open to everyone.
      </p>

      <div class="google-map-container">
        <a href="https://goo.gl/maps/OWqIf">
          <img class="google-map no-margin" src="https://files.level2.lu/website/map.png" alt="Level2 location on Google Maps" title="Level2 location on Google Maps" />
        </a>
      </div>

      <p class="well no-top-radius">
        Level2<br />
        87, route de Thionville<br />
        L-2611 Luxembourg<br />
        T: <a href="tel:+352-20-333-550">+352 20 333 550</a>
      </p>

    </section>

  </div>

  <div class="col-md-8 no-padding">

    <div class="col-md-12 next-event">

      <section>

        <h2 class="well">Next Event</h2>

        {% for event in events %}

          <div class="row event well">

            <div class="col-sm-4 meta hidden-xs">

              {% embed "event-meta.twig" %}
              {% endembed %}

            </div>
            <div class="col-sm-8 description">

              {% embed "event-info.twig" %}
              {% endembed %}

            </div>

            <div class="moreEvents visible-xs">
              <h3><a href="/events">&raquo; more events</a></h3>
            </div>

          </div>

        {% endfor %}

      </section>

    </div>

    <div class="col-sm-6">

      <section>

        <h2 class="well">Membership</h2>
        <p class="well info">
          Members have access to Level2 Hackerspace 24/7. We are a non-profit organisation which relies on members paying for the rent and infrastructure. <a target="_blank" href="https://wiki.hackerspace.lu/wiki/Membership">Join the community</a>
        </p>

      </section>

    </div>

    <div class="col-sm-6">

      <section>

        <h2 class="well">Sponsors</h2>
        <p class="well info sponsors">
          <a target="_blank" href="http://1024.lu"><img src="https://files.level2.lu/sponsors/1024.png" alt="TenTwentyFour sponsor logo" title="TenTwentyFour sponsor logo" /></a>
          <a target="_blank" href="http://www.men.public.lu/"><img src="https://files.level2.lu/sponsors/men.png" alt="Éducation nationale / Enfance / Jeunesse / Luxembourg sponsor logo" title="Éducation nationale / Enfance / Jeunesse / Luxembourg sponsor logo" /></a>
          <a target="_blank" href="http://soundselection.lu"><img src="https://files.level2.lu/sponsors/soundselection.png" alt="SoundSelection sponsor logo" title="SoundSelection sponsor logo" /></a>
          <a target="_blank" href="http://mixvoip.com/"><img src="https://files.level2.lu/sponsors/mixvoip.png" alt="MixVOIP sponsor logo" title="MixVOIP sponsor logo" /></a>
          <a target="_blank" href="http://ion.lu"><img src="https://files.level2.lu/sponsors/ion.png" alt="" title="ION Network Solutions sponsor logo" /></a>
        </p>

      </section>

    </div>

  </div>

</div>

{% endblock %}
