{% extends "base.twig" %}

{% block container %}

<div class="row">

  <div class="col-sm-5">

    <h2>Map</h2>

    <iframe width="100%" height="300px" frameBorder="0" src="http://umap.openstreetmap.fr/en/map/level-2-surroundings_14716?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&datalayersControl=true&onLoadPanel=undefined&captionBar=false#17/49.59165/6.14071"></iframe>

    <a class="twitter-timeline" href="https://twitter.com/Level2Lu" data-widget-id="571113553709789184">Tweets by @Level2Lu</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>

  <div class="col-sm-7">

    <h2>Next Event</h2>

    {% for event in events %}

      {% embed "event.twig" %}
      {% endembed %}

    {% endfor %}

  </div>

</div>

{% endblock %}
