{% extends "base.twig" %}

{% block container %}

<div class="row">

  <div class="col-md-4">

    <section class="visible-xs">

      {% if level2.open %}
        <div class="well status status-open">We're OPEN since {{ level2.lastchange|date("g:i") }}<br />{{ level2.people }} hacker{% if level2.people > 1 %}s{% endif %} present</div>
      {% else %}
        <div class="well status status-closed">Sorry, we're Closed</div>
      {% endif %}

    </section>

    <section>

      <h2 class="well">#openMonday</h2>
      <p class="well info">
        Our Hackerspace is open <b>every Monday</b> evening from <b>8pm</b>, where members and non-members hang out, hack on projects, socialize, and collaborate. <a target="_blank" href="https://wiki.hackerspace.lu/wiki/Openmonday">Read More</a>
      </p>

    </section>

    <section>

      <h2 class="well">Location</h2>

      <p class="well no-bottom-margin no-bottom-rounded">
        Level2 is located in Bonnevoie, very close to Luxembourg city. We hold <a href="/events">events</a> which are open to everyone.
      </p>

      <div class="google-map-container">
        <a href="https://goo.gl/maps/OWqIf">
          <img class="google-map no-margin" src="https://files.level2.lu/website/map.png" />
        </a>
      </div>

      <p class="well no-top-radius">
        Level2<br />
        87, route de Thionville<br />
        L-2611 Luxembourg<br />
        T: <a href="tel:+352-20-333-550">+352 20 333 550</a>
      </p>

    </section>

    <!--<section class="hidden-xs">

      <a class="twitter-timeline" href="https://twitter.com/Level2Lu" data-widget-id="571113553709789184">Tweets by @Level2Lu</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </section>-->

  </div>

  <div class="col-md-8 no-padding">

    <div class="col-md-12 next-event">

      <section>

        <h2 class="well">Next Event</h2>

        {% for event in events %}

          {% embed "event.twig" %}
          {% endembed %}

        {% endfor %}

      </section>

    </div>

    <div class="col-sm-6">

      <section>

        <h2 class="well">Membership</h2>
        <p class="well info">
          Members have access to Level2 Hackerspace 24/7. We are a non-profit organisation which relies on members paying for the rent and infrastructure. <a target="_blank" href="https://wiki.hackerspace.lu/wiki/Membership">Join the community</a>
        </p>

      </section>

    </div>

    <div class="col-sm-6">

      <section>

        <h2 class="well">Sponsors</h2>
        <p class="well info sponsors">
          <a target="_blank" href="http://1024.lu"><img src="https://files.level2.lu/sponsors/1024.png" /></a>
          <a target="_blank" href="http://men.etat.lu/"><img src="https://files.level2.lu/sponsors/men.png" /></a>
          <a target="_blank" href="http://soundselection.lu"><img src="https://files.level2.lu/sponsors/soundselection.png" /></a>
          <a target="_blank" href="http://mixvoip.com/"><img src="https://files.level2.lu/sponsors/mixvoip.png" /></a>
          <a target="_blank" href="http://ion.lu"><img src="https://files.level2.lu/sponsors/ion.png" /></a>
        </p>

      </section>

    </div>

  </div>

</div>

{% endblock %}
