{% extends "base.twig" %}

{% block title %} &middot; Press{% endblock title %}

{% block container %}

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <section class="hidden-xs">

      <h2 class="well">Logo</h2>
      <p class="well no-bottom-margin no-bottom-rounded">
        <img src="https://files.level2.lu/logos/level2.png" alt="Level2 logo" title="Level2 logo" />
      </p>
      <p class="well info no-top-radius">
        <a class="btn btn-info btn-block" target="_blank" target="_blank" href="https://raw.githubusercontent.com/syn2cat/design/master/lvl2/pixel/level2_round_grey.png">Level2 logo in PNG format</a>
        <a class="btn btn-info btn-block" target="_blank" href="https://github.com/syn2cat/design/raw/master/lvl2/level2_logo.ai">Level2 logo in Illustrator format</a>
        <a class="btn btn-info btn-block" target="_blank" target="_blank" href="https://github.com/syn2cat/design/raw/master/lvl2/level2_logo.svg">Level2 logo in SVG format</a>
        <a class="btn btn-info btn-block" target="_blank" target="_blank" href="https://github.com/syn2cat/design/raw/master/lvl2/level2_logo.eps">Level2 logo in EPS format</a>
      </p>

    </section>

  </div>

</div>

{% endblock %}
